* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body {
    width: 100%;
    background-image: url(../Images_Asya/updated_bgd_gradient+animation/Background_color_gradient.png);
    background-repeat:repeat;
    background-position:top;
}
a {
    display: inline-block;
    text-decoration: none;
    color: #FFFFFF;
    align-items: center;
}
ul {
    list-style: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    
}

h2 {
    font-weight: 600;
    font-size: 40px;
    line-height: 49px;
    color: #FFFFFF;

}

.btn {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    padding: 25px 70px;
    background: #FF7B00;
    border-radius: 15px;
    outline: none;
    border: none;
    max-width: 250px;
    width: 100%;
    cursor: pointer;
}
.btn:hover {
    transform: translateY(-3px);
}

.btn:active {
    transform: translateY(0px);
}


.background__stars img {
    position: absolute;
    z-index: -1;
    content: '';
    transform: translate3d(0, - 100%, 0);
    animation: background__stars  60s infinite reverse;
    

}
@keyframes background__stars {
      0% {
        transform: translate3d(0, 5%, 0);
      }
      100% {
        transform: translate3d(0, 12%, 0);
      }

}

.background__planets img {
    position: absolute;
    z-index: -1;
    content: '';
    transform: translate3d(0, - 100%, 0);
    animation: background__planets  40s infinite reverse;
    

}
@keyframes background__planets {
      0% {
        transform: translate3d(0, -17%, 0);
      }
      100% {
        transform: translate3d(0, 30%, 0);
      }

}
.mobile__background {
    display: none;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0px auto;
}

.nav {
    padding-top: 18px;
    padding-bottom: 18px;
    position: fixed;
    width: 100%;
    background: #34055D;
}
.nav__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav__logo {
    margin-right: 212px;
    max-width: 156px;
    width: 100%;
}
.logo__mob {
    display: none;
}

.nav__right {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__lists {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.nav__item {
    margin-right: 35px;
    text-align: center;
}

.nav__link:hover{
    transform: translateY(-5px);
    text-decoration: underline 2px solid #FF7B00;
}

.nav__btn {
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    max-width: 46px;
    width: 100%;
    background: #FF7B00;
    border-radius: 32px;
    padding: 10px;
    border: none;
}
.burger__list {
    display: none;
}




.header {
    width: 100%;
    padding-top: 145px;
}

.header__content {
    display: flex;
    justify-content: space-between;
    text-align: left;
    
}

.header__title {
    font-weight: 600;
    font-size: 50px;
    line-height: 64px;
    color: #FFFFFF;
    padding-top: 92px;
}
.header__subtitle {
    max-width: 388px;
    width: 100%;
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
    color: #FF7B00;
    margin-top: 40px;
    margin-bottom: 75px;
}
.header__btn {
    width: 100%;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    border-radius: 15px;
    color: #FFFFFF;
}

.header__images {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: -80px;
}
.header__img {
    max-width: 568px;
    width: 100%;
    z-index: -1;
    margin-right: 70px;
}

.header__img-social {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0px;
}

.header__img-social img {
    margin-bottom: 25px;
}
.header__img-social img:hover {
    transform: translateY(-5px);

}









.about-us__content {
    display: flex;
    justify-content: space-between;
    text-align: left;
    margin-top: 100px;
    margin-bottom: 100px;
    
}
.about-us__info {
    max-width: 439px;
    width: 100%;
    color: #FFFFFF;
    margin-top: 70px;
    margin-right: 40px;
}
.about-us__title {
    margin-bottom: 40px;
}
.about-us__descr {
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
}
.about-us__img img {
    max-width: 700px;
    width: 100%;
}





.statistics {
    text-align: center;
    margin-top: 155px; 
}

.statistics__images {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
}
.statistics__images:last-child {
    margin-right: 0px;
}
.statistics__images img {
    max-width: 210px;
    width: 100%;
    margin-right: 30px;
}
.statistics__mobile-images {
    display: none;
}


.courses {
    margin-top: 155px;
    text-align: center;
}

.courses__cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
}
.courses__card {
    max-width: 380px;
    width: 100%;
    margin-right: 20px;
    background: #FFFFFF;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
    
}
.courses__card-img img {
    width: 100%;
}
.courses__card-age {
    display: none;
    /* font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    width: 80px;
    height: 80px; */
}
/* .courses__card-age img {
    position: relative;
    z-index: -1;
} */
.courses__card-texts {
    width: 100%;
    text-align: left;
    padding: 0px 20px;
    margin-bottom: 28px;
}
.courses__card-title {
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
    margin: 20px 0px;
}
.courses__card-descr {
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #2D2727;
    
}

.courses__card-btn {
    max-width: 356px;
    width: 100%;
    margin: 12px 12px;
    padding: 12.5px 74px;
    background: #FFFFFF;
    border: 2px solid #FF7B00;
    box-sizing: border-box;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    font-weight: 600;
    /* font-size: 20px; */
    line-height: 24px;
    color: #FF7B00;
}
.courses__btn {
    max-width: 241px;
    width: 100%;
    margin-top: 70px;
    padding: 25px 70px;
    border-radius: 15px;
}





.benefits {
    margin-top: 155px;
    text-align: center;
}
.benefits__title {
    margin-bottom: 70px;
}
.benefits__directions {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* margin-right: -30px; */
}

.benefits__direction-info {
    max-width: 200px;
    width: 100%;
    padding: 25px 0px;
    margin-right: 75px;
    margin-bottom: 105px;
    background-image: url(../Images_Asya/Benefits-img-Eclips.svg);
    background-repeat:no-repeat;
    background-position: top center;
}
.benefits__direction-info:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  } 

.benefits__directions-img img {
    width: 120px;
    height: 120px;
}

.benefits__directions-descr {
    max-width: 280px;
    width: 100%;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    margin-top: 88px;
}



.stages {
    margin-top: 90px;
    text-align: center;
}

.stages__boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 70px 117px;
    
}
.stages__box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 6px;
  
}
.stages__box:last-child {
    margin-left: 380px;
}
.stages__box-img img {
    max-width: 360px;
    width: 100%;
}
.stages__box-images {
    max-width: 580px;
    width: 100%;
    margin-right: 17px;
}
.stages__box-images img {
    max-width: 580px;
    width: 100%;
} 
.stages__box-images:nth-child(2) {
    margin-right: 0px;
    margin-left: 17px;
}
.stages__box-images:last-child {
    min-width: 607px;
    width: 100%;
    
}




.documents__content {
    margin-top: 50px;
}
.documents__title {
    text-align: center;
}
.documents__images {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}
.documents__img {
    max-width: 254px;
    width: 100%;
    margin-right: 10px;
}
.documents__img img {
    width: 100%;
}





.our-mentors__content {
    margin-top: 155px;
    text-align: center;
}
.our-mentors__title {
    margin-bottom: 42px;
    text-align: center;
}
.our-mentors__boxes {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
.our-mentors__box{
    max-width: 517px;
    width: 100%;
    background: #FFFFFF;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
    padding: 24px;
    margin-bottom: 153px;
}
.our-mentors__box-info {
    max-width: 469px;
    width: 100%;
    color: #000000;
    text-align: left;
}
.our-mentors__box-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 16px;
}
.our-mentors__box-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 16px;
}
.our-mentors__box-descr {
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 31px;
}
.our-mentors__box-images {
    margin-bottom: -150px;
    text-align: center;
}
.our-mentors__btn {
    max-width: 265px;
    width: 100%;
    margin-top: 54px;
    padding: 25px 70px; 
}




.reviews {
    margin-top: 150px;
    text-align: center;
}
.reviews__boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
}
.reviews__box {
    margin-right: 200px;  
}
.reviews__box:last-child {
    margin-right: 0px;
}

.reviews__info{
    display: flex;
    flex-direction: column;
}
.reviews__info-img {
    max-width: 200px;
    width: 100%;
    margin-bottom: 20px;
}
.reviews__info-img img {
    width: 100%;
}
.reviews__info-img img:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }
.reviews__descr {
    max-width: 232px;
    width: 100%;
    padding: 16px 22px;
    background: #FFFFFF;
    border-radius: 20px;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}
.reviews__info-subtitle {
    max-width: 224px;
    width: 100%;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
}

/*  Dobavila dannie Chyngyz */
.signup-for__title{
    text-align: center;
    font-weight: 600;
    font-size: 40px;
    line-height: 49px;
    margin-top: 70px;
}
  
.signup-for {
    margin-top: 180px;
    text-align: center;
}
.signup-for__texts {
    display: flex;
    align-items: center;
    margin-top: 70px;
    justify-content: center;
}
  
  
.signup-for__text  {
    margin-right: 40px;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    margin-top: 41px;
}
  
.signup-for__form-card{
    display: flex;
    justify-content: center;
}
.signup-for__for-info {
    display: none;
}
.signup-for__form {
    padding: 25px 24px;
    max-width: 1032px;
    width: 100%;
    background: #FFFFFF;
    border-radius: 20px;
    margin-top: 40px;
    
}
  
.signup-form__form{
    display: flex;
    justify-content: space-between;
}
  
.signup__name:focus{
    border: none;
}
  
.signup__name{
    max-width: 312px;
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #BCBCBC;
    box-sizing: border-box;
    border-radius: 15px;
    padding: 16px 8px;
}
  
  
  
.chekbox__signup{
    position: relative;
    
}
  
.chekbox__input {
    position: absolute;
    top: -1000000px;
    left: -100000px;
    opacity: 0;
}
  
.chekbox__label {
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #31529A;
    cursor: pointer;
    position: relative;
    padding-left: calc(34px + 18px);
}
  
.chekbox__label::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
    border-radius: 5px;
    border: 3px solid #31529A;
}
  
.chekbox__label::after {
    position: absolute;
    content: url('../images/checkbox__header.svg');
    top: 60%;
    left: 4.5px;
    transform: translateY(-60%);
    opacity: 0;
}
  
.chekbox__input:checked ~ .chekbox__label::before {
    background: #ffffff;
    border: 3px solid #31529A;
}
  
.chekbox__input:checked ~ .chekbox__label::after {
    opacity: 1;
}
  
.signup__card-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.signup__for-btn{
    margin-top: 40px;
}
  
.signup__btn{
    background: #FF7B00;
    border-radius: 15px;
    max-width: 265px;
    width: 100%;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    padding: 16px 42px;
    cursor: pointer;
}
.signup__btn:hover {
    transform: translateY(-3px);
}

.signup__btn:active {
    transform: translateY(0px);
}


.questions {
    margin-top: 154px;
    text-align: center;
}
.questions__boxes {
    
    margin-top: 70px;
    
}
.questions__box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
    cursor: pointer;
}


/* изменила  hover na active */
.questions__box:active {
    transform: translateY(3px);
}
.questions__box-img {
    margin-right: 22px;
}

.questions__box-texts {
    max-width: 1108px;
    width: 100%;
    background: #FFFFFF;
    border-radius: 10px;
    padding: 16px 8px;
    text-align: left;
}
.questions__box-text {
    max-width: 997px;
    width: 100%;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #5C5C5C;
}












.news-events {
    margin-top: 157px;
    text-align: center;
}

.news-events__cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
    flex-wrap: wrap;
}
.news-events__card {
    max-width: 380px;
    width: 100%;
    margin-right: 20px;
    background: #F2F2F2;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
    
}
.news-events__card:last-child {
    margin-right: 0px;
}
.news-events__card-img img {
    width: 100%;
}
.news-events__card-texts {
    max-width: 340px;
    width: 100%;
    text-align: left;
    padding: 20px 20px;
}
.news-events__card-title {
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
    color: #31529A;
    margin-bottom: 16px;
}
.news-events__card-descr {
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #31529A;   
}
.news-events__btn {
    max-width: 266px;
    width: 100%;
    margin-top: 70px;
}





.footer {
    margin-top: 145px;
}
.footer__info {
    display: flex;
    justify-content: space-evenly;
    align-items: start;
}

.footer__title {
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
    color: #FFFFFF;
    margin-right: 202px;
}
.footer__title:last-child {
    margin-right: 0px;
}
.footer__lists {
    margin-top: 24px;
}
.footer__subtitle {
    max-width: 274px;
    width: 100%;
    margin-bottom: 21px;
}

/* text decoration изменила */
.footer__subtitle:hover {
    transform: translateY(-5px);
    text-decoration: underline;
    border-bottom: 2px solid #FFFFFF;
}
.footer__subtitle:nth-child(13) :hover {
    text-decoration: none;
}

.footer__social {
    margin-right: 20px;
}
.footer__bottom {
    text-align: center;
    margin: 29px 0px;
}
.footer__copyright {
    max-width: 1440px;
    width: 100%;
    border-top: 1px solid #FFFFFF;
    margin-top: 40px;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
    padding: 25px 0px;

}
.parallax {
    overflow: hidden;
    position: relative;
    height: 100%;
}
.parallax-bg {
    position: absolute;
    left: -5%;
    top: -5%;
    height: 110%;
    width: 110%;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;
    background-image: url(../Images_Asya/updated_bgd_gradient+animation/stars-bg.png);
}








.burger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    padding: 7.5px 3.75px;
    margin-left: 190px;
    cursor: pointer;
}

.burger__content {
    display: none;
}
.burger__line {
    background-color: #fff;
    width: 100%;
    height: 3px;
    transition: all 0.3s;
}
@media (max-width: 1200px) {
    .container {
        padding: 0px 16px;
        box-sizing: border-box;
    }
}

@media (max-width: 375px) {
    .container{
        padding: 0px 16px;
        box-sizing: border-box;
    }
    
    .background__stars {
        display: none;
    }
    .background__planets {
        display: none;
    }
   
    .nav__logo { 
        display: none;
    }
    .logo__mob {
        max-width: 120px;
        width: 100%;
        display: block;
        /* margin-left: 5px; */
    }
    .nav__lists {
        display: none;
    }
    .nav__btn {
        display: none;
    }
    .burger {
        display: flex;
    }
    /* .burger_active .burger__line:nth-child(1) {
        transform: rotate(-45deg) translate(-8px,3px);
    } */
    .burger__content {
        position: fixed;
        top: -1000px;
        left: 0px;
        width: 100%;
        height: calc(100vh - 50px);
        background: linear-gradient(296.7deg, #32003A -5.17%, #220733 42.6%, #2B007D 168.23%);
        transition: all 0.3px;
        z-index: -1;
        padding: 0px 16px;
    }
    .burger__list {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        list-style: none;
        max-width: 343px;
        width: 100%;
        margin-top: 122px;

    }
    .burger__item {
        /* border: none; */
        border-radius: 0px;
        border-bottom: 1px solid #FFFF;
        padding-bottom: 10px;
    }
    .burger__link {
        width: 100%;
        display: inline-block;
        text-decoration: none;
        color: #fff;
        font-weight: normal;
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 21px;
        transition: all 0.3s;
    }
    .burger__link:hover {
        transform: translateX(5px);
        
    }
    .burger__content_active {
        display: flex;
        top: 11px;
    }
    .burger_active {
        border: 1px solid transparent;
    }


    .header__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .header__title {
        display: inline-block;
        max-width: 297px;
        width: 100%;
        font-weight: 600;
        font-size: 35px;
        line-height: 44px;
        margin-top: 52px;
        margin-right: 46px;
        padding: 0px;

    }
    .header__subtitle {
        max-width: 267px;
        width: 100%;
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        margin-top: 50px;
    }
    .header__btn {
        max-width: 206px;
        width: 100%;
        font-weight: 600;
        font-size: 18px;
        line-height: 21px;
        padding: 20px 54px;
        border-radius: 4px;
        margin-top: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0px 70px;
    }
   
    .header__img {
        display: none;
    }
    .header__img-social {
        display: flex;
        flex-direction: row;
        align-items: center;
        max-width: 286px;
        width: 100%;
        margin-left: 40px;
        margin-top: 100px;
    }
    
    .header__img-social img {
        width: 30px;
        height: 30px;
        margin-right: 34px;
        margin-bottom: 0px;
    }
    
    .header__img-social:last-child {
        margin-right: 0px;
    }
    .header__img-social img:hover {
        transform: translateY(-5px);
    }

    .mobile__background {
        display: flex;
    }
    .mobile__background img {
        position: absolute;
        z-index: -1;
        content: '';
        transform: translate3d(0, - 100%, 0);
        animation: mobile__background  60s infinite reverse;
        
    
    }
    @keyframes mobile__background {
          0% {
            transform: translate3d(0, -2%, 0);
          }
          100% {
            transform: translate3d(0, 20%, 0);
          }
    
    }






    .about-us__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 70px;
    }
    .about-us__info {
        max-width: 343px;
        width: 100%;
    }

    .about-us__title {
        font-weight: 600;
        font-size: 25px;
        line-height: 30px;
        width: 100%;
        text-align: left;
    }
    .about-us__descr {
        margin-top: 20px;
        width: 100%;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        color: #F6F6F6;
        text-align: left;
    }
    .about-us__img img{
        margin-top: 24px;
        max-width: 343px;
        width: 100%;
    }



    .statistics__content {
        margin-top: 71px;
        max-width: 343px;
        width: 100%;
        
    }
    .statistics__title {
        width: 100%;
        font-weight: 600;
        font-size: 25px;
        line-height: 30px;
    }
    .statistics__images {
        display: none;
    }
    .statistics__mobile-images {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0px;
        margin-top: 35px;
    }
    .statistics__mobile-images img {
        max-width: 165px;
        width: 100%;
        padding: 13px;
    }




   
    .courses {
        text-align: center;
        margin-top: 50px;
    }
    .cources__title {
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
    }
    .courses__cards {
        width: 254px;
        margin-top: 30px;
       
        
    }
    .courses__card {
        width: 254px;
        height: 361px;
        margin-right: 13px;
    }
    .courses__card-img img {
        max-width: 222px;
        width: 100%;
    }
    .courses__card-texts {
        width: 100%;
        /* margin-left: -12px; */
    }
    .courses__card-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
    }
    .courses__card-descr {
        font-weight: normal;
        font-size: 13px;
        line-height: 19px;
    }
    .courses__card-btn {
        max-width: 222px;
        width: 100%;
        text-align: center;
        font-weight: 600;
        font-size: 15px;
        line-height: 18px;
        margin: 16px;
        padding: 12px 43px;
        text-align: center;
    }
    .courses__btn {
        border-radius: 4px;
    }


    .benefits__directions  {
        display: flex;
        justify-content: space-between;

    }
    .benefits__direction-info {
        margin: 0px;
        margin-top: 39px;
        
       
    }
    .benefits__directions-img {
        width: 100px;
        height: 100px;
    }
    .benefits__directions-descr {
        font-weight: 500;
        font-size: 11px;
        line-height: 13px;
        max-width: 75px;
        width: 100%;
        
    }



    .stages__title {
        margin-top: 50px;
        font-weight: 600;
        font-size: 25px;
        line-height: 30px;
    }
    .stages__boxes {
        max-width: 254px;
        width: 100%;
        padding: 0px;
        margin-top: 30px;
    }
    .stages__box {
        max-width: 254px;
        width: 100%;
        margin-top: 21px;
        
    }
    .stages__box-img {
        display: none;
    }
    .stages__box-images img{
        width: 100%;
    }







    .documents__content {
        margin-top: 54px;
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap; 
        
    }
    .our-documents__info {
        text-align: center;
        
    }
    .documents__title {
        font-weight: 600;
        font-size: 25px;
        line-height: 30px;
    }
    
    .documents__img {
        width: 254px;
        margin-top: 30px;
        margin-right: 21px;

    }





    .our-mentors__content {
        margin-top: 50px;
    }
    .our-mentors__title {
        font-weight: 600;
        font-size: 25px;
        line-height: 30px;
    }
    .our-mentors__boxes {
        width: 254px;
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap; 
        margin-top: 30px;
    }
    .our-mentors__box {
       
        align-items: center;
        max-width: 254px;
        width: 100%;
        margin-right: 13px;
    }
    .our-mentors__box-info {
        max-width: 228px;
        width: 100%;
        
    }
    .our-mentors__box-title{
        width: 100%;
        font-weight: 600;
        font-size: 17px;
        line-height: 20px;
        
    }
    .our-mentors__box-subtitle {
        width: 100%;
        font-weight: 500;
        font-size: 13px;
        line-height: 16px;
    }
    .our-mentors__box-descr {
        width: 100%;
        font-weight: 500;
        font-size: 11px;
        line-height: 13px;
        color: #636363;
        width: 228px;
    }
    .our-mentors__btn {
        border-radius: 4px;
        margin-top: 43px;
    }





    .reviews__content {
        margin-top: 50px;
    }
    .reviews__title {
        font-weight: 600;
        font-size: 25px;
        line-height: 30px;
    }
    .reviews__boxes {
        margin-top: 29px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .reviews__info-img img {
        max-width: 120px;
    }







    .signup-for__content {
        margin-top: 50px;
    }
    .signup-for__title {
        font-weight: 600;
        font-size: 23px;
        line-height: 27px;
    }
    .signup-for__texts {
        display: none;
    }
    .signup-for__form-card {
        margin-top: 40px;
    }
    .signup-for__form {
        max-width: 343px;
        width: 100%;
        border-radius: 8px;
    }
    .signup-for__for-info {
        display: flex;
        margin-bottom: 33px;
        text-align: left;
    }
    .signup-for__for-subtitle {
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        color: #292929;
    }
    .signup-for__for-descr {
        font-weight: 300;
        font-size: 15px;
        line-height: 18px;
        color: #4A4A4A;
        padding: 13px 0px;
    }
    .signup-form__form {
        flex-direction: column;
        justify-content: space-between;
        
    }
    .signup__name {
        border: none;
        /* border-radius: 0px; */
        margin-bottom: 50px;
        border-bottom: 1px solid #292929;
        padding-bottom: 10px;
    }
    .signup__card-box {
        flex-direction: column-reverse;
        justify-content: space-between;
    }
    .signup__for-btn {
        margin-bottom: 24px;
        border-radius: 4px;
    }








    .questions__content {
        margin-top: 50px;
        
    }
    .questions__title {
        font-weight: 600;
        font-size: 23px;
        line-height: 27px;
    }
    .questions__box-img {
        display: none;
        
    }
    .questions__box-texts {
        background: none;
    }
    .questions__box-text {
        font-weight: 300;
        font-size: 18px;
        line-height: 21px;
        color: #FFFFFF; 
        border-top: 1px solid #FFFFFF;
        padding-top: 21px;
    }



    .news-events__content {
        margin-top: 50px;
    }
    .news-events__title {
        font-weight: 600;
        font-size: 23px;
        line-height: 27px;
    }
    .news-events__cards {
        width: 254px;
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap; 
        
    }
    .news-events__card {
        width: 254px;
        height: 331px;
        margin-right: 16px;
        
    }
    .news-events__card-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        color: #292929;
        width: 238px;
    }
    .news-events__card-descr {
        font-weight: normal;
        font-size: 13px;
        line-height: 19px;
        color: #4A4A4A;
    }
    .news-events__btn {
        border-radius: 4px;
    }




    .footer__title {
        display: none;
    }
    .contacts {
        display: flex;
        flex-direction: column;
        font-weight: 500;
        font-size: 25px;
        line-height: 30px;
       
    }
    .footer__lists {
        margin-top: 30px;
    }
    .footer__subtitle {
        font-weight: normal;
        font-size: 20px;
        line-height: 24px;
        color: #E6F3FA;
    }
    .footer__social-images img {
        display: flex;
        width: 40px;
        height: 40px;
        margin-top: 30px;
    }
    .footer__logo {
        width: 111px;
    }
    .footer__copyright {
        border-top: none;
    }
    


   
   

}