* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background-image: linear-gradient(
    296.65deg,
    #45108a -7.14%,
    #3d065f 21.87%,
    #200554 60.85%,
    #a8167d 98.17%
  );
  color: #fff;
}

a {
  text-decoration: none;
  display: inline-block;
}

ul {
  list-style: none;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0px auto;
}

.nav{
  background: #280557;
  padding-bottom: 24px;
}

.nav__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 29px;

}

.nav__link {
  margin-right: 26px;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
color: #fff;
}

.nav__list{
    display: flex;
    align-items: center;
}

.nav__item {
  display: flex;
}

.nav__item a:hover{
  border-bottom: 2px solid #FF7B00;
  text-decoration: none;
  
}

.nav__link:hover{
    transform: translateY(-5px);
    text-decoration: underline;
}

.btn {
  padding-left: 48px;
}

.nav__btn {
  width: 46px;
  height: 43px;
  text-align: center;
  padding: 10px;
  background: #ff7b00;
  border-radius: 32px;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #ffffff;
}

.header {
  margin-bottom: 50px;
}

.header__title {
  margin-top: 92px;
  font-weight: 600;
  font-size: 40px;
  line-height: 49px;
  text-align: center;
  margin-bottom: 60px;
}

.news__cards {
  display: flex;
  justify-content: space-between;
}

.news__card {
  display: flex;
  max-width: 780px;
  width: 100%;
  background: #31529a;
  border-radius: 20px;
}

.news__card_img {
  max-width: 400px;
  width: 100%;
}

.news__card_img img {
  width: 100%;
}

.news__text {
  padding: 30px 40px;
  color: #ffffff;
}

.news__text-title {
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
  max-width: 290px;
  width: 100%;
  padding-bottom: 20px;
}

.news__text-descr {
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  max-width: 290px;
  width: 100%;
  padding-bottom: 30px;
}

.news__text-descr-row {
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  max-width: 290px;
  width: 100%;
}

.categories{
  position: fixed;
top: 170px;
left: 1100px;
right: 0;
}

.categories__title {
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
}


.checkbox {
    position: relative;
    margin-top: 30px;
  }
  
  .checkbox__input {
    position: absolute;
    top: -1000000px;
    left: -100000px;
    opacity: 0;
  }
  
  .checkbox__label {
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
    color: #fff;
    cursor: pointer;
    position: relative;
    padding-left: calc(34px + 18px);
  }
  
  .checkbox__label::before {
      position: absolute;
      content: "";
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 18px;
      height: 18px;
      border-radius: 5px;
      border: 3px solid #fff
  }
  
  .checkbox__label::after {
      position: absolute;
      content: url('../images/checkbox-arrow.svg');
      top: 50%;
      left: 4px;
      transform: translateY(-60%);
      opacity: 0;
  }
  
  .checkbox__input:checked ~ .checkbox__label::before {
      background: #FF7B00;
      border: 3px solid #FF7B00;
  }
  
  .checkbox__input:checked ~ .checkbox__label::after {
      opacity: 1;
  }

.section {
  margin-bottom: 236px;
}

.section__card {
  max-width: 380px;
  width: 100%;
  background: #31529a;
  border-radius: 20px;
  margin-top: 20px;
  margin-right: 20px;
  color: #ffffff;
}

.section__cards-row {
  display: flex;
}

.section__card_title {
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
  max-width: 340px;
  width: 100%;
  padding-top: 20px;
  padding-left: 20px;
}

.section__card_descr {
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  max-width: 340px;
  width: 100%;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 30px;
}

.footer {
  background: linear-gradient(
    296.7deg,
    #45108a -5.17%,
    #3d065f 42.6%,
    #200554 168.23%
  );
  padding-bottom: 28px;
}

.footer__content{
    background-image: url("../images/footer__stars.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.footer__texts {
    padding-top: 60px;
  display: flex;
  justify-content: space-between;
}

.footer__text a:hover{
  border-bottom: 2px solid #fff;
  text-decoration: none;
}


.footer__title {
  margin-bottom: 24px;
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
}

.footer__descr {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #fff;
}

.footer__descrp{
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #fff;
}

.footer__descr:hover{
    transform: translateY(-3px);
    text-decoration: underline;
}

.footer__socials {
  width: 28px;
  height: 28px;
  margin-right: 20px;
}

.footer__logo {
  text-align: center;
}

.footer__line{
    margin-top: 28px;
    border-bottom: 1.03px solid #fff;
}

.footer__copyright{
    margin-top: 25px;
    text-align: center;
    font-weight: 500;
font-size: 15px;
line-height: 18px;
}


/* all courses */

.header__content{
    margin-bottom: 132px;
}

.header__courses-card{
    background: #FFFFFF;
box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.08);
border-radius: 20px;
max-width: 380px;
    width: 100%;
    padding-bottom: 12px;
}

.header__courses-img{
    max-width: 380px;
    width: 100%;
    position: relative;
}

.age__course{
  position: absolute;
  right: 0px;
}

.header__courses-title{
    font-weight: 600;
font-size: 30px;
line-height: 37px;
color: #2D2727;
padding-top: 20px;
padding-left: 20px;
}

.header__courses-descr{
    font-weight: 500;
font-size: 18px;
line-height: 28px;
color: #4A4A4A;
max-width: 337px;
width: 100%;
padding-top: 20px;
padding-left: 20px;
padding-bottom: 40px;
}

.header__courses-btn{
    text-align: center;
    align-items: center;
    font-weight: 600;
font-size: 16px;
line-height: 20px;
color: #FF7B00;
background: #FFFFFF;
border: 2px solid #FF7B00;
box-sizing: border-box;
border-radius: 15px;
max-width: 356px;
width: 100%;
padding: 12px 74px;
margin-left: 20px;
cursor: pointer;
}

.header__courses-btn:hover{
  transform: translateY(-3px);
}

.header__courses-cards-row{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

/* all mentors */

.nav__mentors{
  background: #3F096C;
  padding-bottom: 22px;
}

/* .our__mentors{
  background-image: url("../images/header__stars.png");
  background-repeat: no-repeat;
  background-position: center;
  background-position: top;
  background-size: contain;
} */

.main {
  background-image: url("../images/star__backg.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;

}

.mentor{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 44px;
  font-weight: 800;
font-size: 40px;
line-height: 49px;
}

.mentor__card-title{
  font-weight: 600;
font-size: 24px;
line-height: 29px;
color: #000000;
}

.mentor__card-descr{
  font-weight: 500;
font-size: 20px;
line-height: 24px;
color: #000000;
padding-top: 16px;
}

.mentor__card-descrp{
  font-weight: 500;
font-size: 16px;
line-height: 28px;
color: #4A4A4A;
max-width: 469px;
width: 100%;
padding-top: 16px;
padding-bottom: 100px;
}


.mentor__card{
  max-width: 517px;
  width: 100%;
  background: #FFFFFF;
box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.08);
border-radius: 20px;
padding: 24px;

}

.mentor__cards{
  display: flex;
  justify-content: space-between;
  margin-top: 156px;
}

.mentor__cards:nth-last-child(4){
margin-top: 0px;
}


.mentor__cards-row{
  max-width: 517px;
  width: 100%;
  position: relative;
}

.foto_mentor{
  position: absolute;
  bottom: -100px;
  left: 32%;
}

.all__mentors{
  margin-bottom: 678px;
}


/* more_about_the_course */


.header__ux-img img{
  width: 100%;
  margin-top: 18px;
  margin-bottom: 15px;
}


.header__desing{
  display: flex;
  justify-content: space-between;
  
}

.desing__title{
  font-weight: 600;
font-size: 40px;
line-height: 49px;
}

.desing__descr{
  font-weight: 500;
font-size: 24px;
line-height: 29px;
max-width: 680px;
width: 100%;
margin-top: 32px;
}

.desing__card{
  background: #FFFFFF;
border-radius: 20px;
max-width: 400px;
width: 100%;
padding: 0px 16px;
padding-bottom: 24px;
}

.desing__card-title{
  font-weight: 500;
font-size: 24px;
line-height: 29px;
color: #292929;
padding-top: 16px;
}

.desing__card-descr{
  font-weight: 500;
font-size: 18px;
line-height: 28px;
color: #FF7B00;
padding-top: 8px;
}

.desing__card-subtitle{
  font-weight: 500;
font-size: 24px;
line-height: 29px;
color: #FF7B00;
padding-top: 16px;
}

.desing__card-time{
  font-weight: 500;
font-size: 18px;
line-height: 28px;
color: #FF7B00;
max-width: 271px;
width: 100%;
padding-top: 8px;
}

.desing__btn-btn{
  margin-top: 24px;
  padding: 0px 47px;
}

.desing__btn{
  background: #FF7B00;
box-shadow: 0px 8px 8px #B55700;
border-radius: 40px;
font-weight: 600;
font-size: 16px;
line-height: 20px;
color: #ffffff;
text-transform: uppercase;
text-align: center;
padding: 25px 70px;
max-width: 257px;
width: 100%;
cursor: pointer;
}

.desing__btn:hover{
  transform: translateY(-3px);
}

.signup-for__title{
  text-align: center;
  font-weight: 600;
font-size: 40px;
line-height: 49px;
margin-top: 50px;
}

.signup-for {
  margin-top: 180px;
  text-align: center;
}
.signup-for__texts {
  display: flex;
  align-items: center;
  margin-top: 70px;
  justify-content: center;
}


.signup-for__text  {
  margin-right: 40px;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
  margin-top: 41px;
}

.signup-for__form-card{
  display: flex;
  justify-content: center;
}

.signup-for__form {
  padding: 25px 24px;
  max-width: 1032px;
  width: 100%;
  background: #FFFFFF;
  border-radius: 20px;
  margin-top: 40px;
  
}

.signup-form__form{
  display: flex;
  justify-content: space-between;
}

.signup__name:focus{
  border: none;
}

.signup__name{
  max-width: 312px;
  width: 100%;
  background: #FFFFFF;
border: 1px solid #BCBCBC;
box-sizing: border-box;
border-radius: 15px;
padding: 16px 8px;
}



.chekbox__signup{
  position: relative;
  
}

.chekbox__input {
  position: absolute;
  top: -1000000px;
  left: -100000px;
  opacity: 0;
}

.chekbox__label {
  font-weight: normal;
font-size: 14px;
line-height: 17px;
color: #31529A;
  cursor: pointer;
  position: relative;
  padding-left: calc(34px + 18px);
}

.chekbox__label::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
    border-radius: 5px;
    border: 3px solid #31529A;
}

.chekbox__label::after {
    position: absolute;
    content: url('../images/checkbox__header.svg');
    top: 60%;
    left: 4.5px;
    transform: translateY(-60%);
    opacity: 0;
}

.chekbox__input:checked ~ .chekbox__label::before {
    background: #ffffff;
    border: 3px solid #31529A;
}

.chekbox__input:checked ~ .chekbox__label::after {
    opacity: 1;
}

.signup__card-box{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.signup__for-btn{
  margin-top: 40px;
}

.signup__btn{
  background: #FF7B00;
border-radius: 15px;
max-width: 265px;
width: 100%;
font-weight: bold;
font-size: 20px;
line-height: 24px;
color: #FFFFFF;
padding: 16px 42px;
cursor: pointer;
}

.signup__btn:hover{
  transform: translateY(-3px);
}

/* ux-ui__desing */

.desing-bac{
  background: linear-gradient(296.7deg, #45108A -5.17%, #3D065F 42.6%, #200554 168.23%);
}

.ux-ui__des{
  max-width: 645px;
  width: 100%;
}

.ux-ui__des img{
  width: 100%;
}

.header__designer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 95px;
}

.designer__title{
  font-weight: 600;
  font-size: 50px;
  line-height: 64px;
}

.designer__descr{
  font-weight: 500;
  font-size: 24px;
  line-height: 34px;
  color: #FF7B00;
  max-width: 474px;
  width: 100%;
  margin-top: 40px;
  margin-bottom: 107px;
}

.designer__btn-btn{
  max-width: 257px;
  width: 100%;
}

.designer__btn{
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background: #FF7B00;
border-radius: 15px;
padding: 25px 70px;
text-transform: uppercase;
cursor: pointer;
}

.designer__btn:hover{
  transform: translateY(-3px);
}

.header__desing-card{
  display: flex;
  background: #FFFFFF;
border-radius: 20px;
padding: 40px;
max-width: 595px;
width: 100%;
justify-content: space-between;
}

.header__des-card-title{
  font-weight: 500;
font-size: 24px;
line-height: 29px;
color: #292929;
}

.header__des-card-descr{
  font-weight: 500;
font-size: 24px;
line-height: 29px;
color: #FF7B00;
padding-top: 16px;
}

.header__des-card-subtitle{
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #292929;
  padding-top: 21px;
}

.header__des-card-subdescr{
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
  color: #FF7B00;
  padding-top: 16px;
}

.program{
  margin-bottom: 150px;
}

.program__title{
  font-weight: 600;
font-size: 40px;
line-height: 49px;
}

.program__card{
  background: #FFFFFF;
border-radius: 20px;
margin-top: 70px;
padding: 100px 102px;
}

.program__text{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 10px;
}

.program__subtitle{
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #292929;
}

.program__descr{
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #292929;
max-width: 980px;
width: 100%;
margin-bottom: 20px;
padding: 10px;
}

.program__cross{
  cursor: pointer;
}

.student__title{
  font-weight: 600;
font-size: 40px;
line-height: 49px;
color: #FFFFFF;
margin-bottom: 70px;
}

.student__foto{
  max-width: 1180px;
  width: 100%;
}

.student__foto img{
width: 100%;
}

.master__title{
  font-weight: 600;
font-size: 40px;
line-height: 49px;
text-align: center;
color: #FFFFFF;
margin-top: 150px;
margin-bottom: 73px;
}

.master__card{
  background: #FFFFFF;
box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.08);
border-radius: 20px;
max-width: 955px;
width: 100%;
padding: 43px 73px;
position: absolute;
text-align: right;
left: 380px;
}


.master__card-title{
  font-weight: 600;
  font-size: 40px;
  line-height: 49px;
  color: #000000;
}

.master__card-subtitle{
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
  color: #000000;
  margin-top: 30px;
  margin-bottom: 40px;
}

.master__card-descr{
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #000000;
  /* max-width: 532px;
  width: 100%; */
}

.masters{
  max-width: 440px;
  width: 100%;
  position: relative;
  bottom: 50px;
  left: -0%;
  margin-bottom: 200px;
}

.masters img{
  width: 100%;
}