*  {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Montserrat",sans-serif;
  }

  body{
    background-image: linear-gradient(296.65deg, #45108A -7.14%, #3D065F 21.87%, #200554 60.85%, #A8167D 98.17%);
   }


  a {
  text-decoration: none;
  display: inline-block;
  }


  ul {
  list-style: none;
  }

  .container {
  max-width: 1200px;
  width: 100%;
  margin: 0px auto;
  
  }

 .nav__content {
  max-width: 1440px;
  width: 100%;
  margin: 0px auto;
  display: flex;
  align-items: center;
  margin-top: 29px;
  margin-right: none;
  margin-bottom: 92px;
}

.nav__logo {
  margin-right: 250px;
}


.nav__link {
  margin-right: 52px;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: black;
}



.nav__item{
    display: flex;
    
}

.btn{
    padding-left: 48px;
}

.nav__btn {
  width: 46px;
  height: 43px;
  text-align: center;
  padding: 10px;
  background: #ff7b00;
  border-radius: 32px;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #ffffff;
}

.header{
    padding-bottom: 60px;
}


.header__title{
    font-weight: 600;
font-size: 40px;
line-height: 49px;
text-align: center;
padding-bottom: 60px;
}

.news__cards{
    display: flex;
    justify-content: space-between;
}

.news__card{
    display: flex;
    max-width: 780px;
    width: 100%;
    background: #31529A;
border-radius: 20px;
}

.news__card_img{
    max-width: 400px;
    width: 100%;
}

.news__card_img img{
    width: 100%;
}

.news__text{
    padding: 30px 40px;
    color: #FFFFFF;

}

.news__text-title{
    font-weight: 600;
font-size: 30px;
line-height: 37px;
max-width: 290px;
width: 100%;
padding-bottom: 20px;
}

.news__text-descr{
    font-weight: 500;
font-size: 18px;
line-height: 28px;
max-width: 290px;
width: 100%;
padding-bottom: 30px;
}

.news__text-descr-row{
    font-weight: 500;
font-size: 18px;
line-height: 28px;
max-width: 290px;
width: 100%;
}

.categories__title{
    font-weight: 600;
font-size: 30px;
line-height: 37px;
}

.section{
    margin-bottom: 236px;
}

.section__card{
    max-width: 380px;
    width: 100%;
    background: #31529A;
border-radius: 20px;
margin-top: 20px;
margin-right: 20px;
color: #FFFFFF;
}


.section__cards-row{
    display: flex;
}

.section__card_title{
    font-weight: 600;
font-size: 30px;
line-height: 37px;
max-width: 340px;
width: 100%;
padding-top: 20px;
padding-left: 20px;
}

.section__card_descr{
    font-weight: 500;
font-size: 18px;
line-height: 28px;
max-width: 340px;
width: 100%;
padding-top: 20px;
padding-left: 20px;
padding-bottom: 30px;
}

.footer{
    background: linear-gradient(296.7deg, #45108A -5.17%, #3D065F 42.6%, #200554 168.23%);
}


.footer__texts{
    display: flex;
    justify-content: space-between;
}

.footer__title{
    padding-bottom: 24px;
    font-weight: 600;
font-size: 30px;
line-height: 37px;
}

.footer__descr{
    padding-bottom: 20px;
    font-weight: 500;
font-size: 18px;
line-height: 28px;
}


.footer__socials{
    width: 28px;
height: 28px;
    margin-right: 20px;
}

.footer__logo{
    text-align: center;
}

